<h1>Items Details</h1>


<table>
  <thead>
    <tr>
      <th>Items</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
        <tr>
            <td><%= @item.name%></td>
            <td><%= @item.description%></td>
            <td><%= @item.price%></td>
            <td><%= @item.status%></td>
        </tr>
  </tbody>
</table>