<h1>Items Details</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Items</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
        <tr>
            <td><%= @item.name%></td>
            <td><%= @item.description%></td>
            <td><%= @item.price%></td>
        </tr>
  </tbody>
</table>

<div class="img-fluid img-thumbnail text-center">
  <%= image_tag @item.image %>
</div>
