<b><%= link_to 'Create new category', new_category_path %></b>

<table>
  <thead>
    <tr>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @category.each do |category|%>
        <tr>
            <td><%= link_to category.name, category_path(:id => category.id) %></td>
            <td><%= link_to 'Edit', edit_category_path(category)%> |
            <%= link_to 'Delete', category_path(:id => category.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
    <%end%>
  </tbody>
</table>
<p>

</p>