<h1>Shooping cart</h1>
<table class = "table">
  <thead class="thead-dark">
    <tr>
      <th>Items Name</th>
      <th>Price</th>
      <th>Detail</th>
    </tr>
  </thead>

  <tbody>

    <% @cart.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price%></td>
      <td><%= button_to 'Show', item_path(:id => item.id), class: "btn btn-info"%></td>
    </tr>
  
    <% end %>
  </tbody>
</table>

<% if @cart.present? %>
  <%= button_to "Check out", checkouts_path, class: "btn btn-primary" %>
<% end %>